<!DOCTYPE html>
<html>
  <head>
  </head>

  <body>
    <h3>APR Monthly Payment</h3>
    <form action="/random/results">
      <div>
        <label for="apr_id">APR: </label>
        <input id="apr_id" name="apr">
      </div>
      <div>
        <label for="years_id">Years: </label>
        <input id="years_id" name="years">
      </div>
      <div>
        <label for="prinicple_id">Principle: </label>
        <input id="principle_id" name="principle">
      </div>
      <button>Calculate monthly payment</button>
    </form>
  </body>
</html>
