<!DOCTYPE html>
<html>
  <head>
  </head>

  <body>
    <h3>Monthly Payment Results</h3>
    <p>APR:</p>
    <p><%=@apr%></p>
    <p>Years :</p>
    <p><%=@years%></p>
    <p>Principle :</p>
    <p><%=@principle%></p>
    <p>Monthly Payment:</p>
    <p><%=@monthly_payment%></p>
  </body>
</html>
