<!DOCTYPE html>
<html>
  <head>
  </head>

  <body>
    <h3>Random Results</h3>
    <p>Minimum:</p>
    <p><%=@min%></p>
    <p>Maximum:</p>
    <p><%=@max%></p>
    <p>Results:</p>
    <p><%=@rand_num%></p>
  </body>
</html>
