<!DOCTYPE html>
<html>
  <head>
  </head>

  <body>
    <h3>Random</h3>
    <form action="/random/results">
      <div>
        <label for="rand_min_id">Minimum: </label>
        <input id="rand_min_id" name="rand_min">
      </div>
      <div>
        <label for="rand_max_id">Maximum: </label>
        <input id="rand_max_id" name="rand_max">
      </div>
      <button>Pick random number</button>
    </form>
  </body>
</html>
