<!DOCTYPE html>
<html>
  <head>
  </head>

  <body>
    <form action="/square_root/results">
      <h3>Square Root</h3>
      <div>
        <label for="square_root_id">Enter a number</label>
      </div>
      <div>
        <input id="square_root_id" name="square_root">
      </div>
      <button>Calculate square root</button>
    </form>
  </body>
</html>
